{% extends 'base.html' %}

{% block content %}
    <div class="container border border-dark mt-2" style="max-width: 980px">
        <h1 class="text-center">Lista de transações</h1>
        <hr>
        <div class="row mb-2">
            <div class="col">
                <a href="{% url 'users:create_transaction' %}">Criar nova conta</a>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col">
                <a href="{% url 'users:index' %}">Voltar</a>
            </div>
        </div>
        {% for transaction in transactions %}
            <div class="row mb-4">
                <div class="col">
                    <strong>ID:</strong> {{ transaction.id }}
                </div>
                <div class="col">
                    <strong>Conta debitada:</strong> {{ transaction.debit_account.name }}
                </div>
                <div class="col">
                    <strong>Conta creditada:</strong> {{ transaction.credit_account.name }}
                </div>
                <div class="col">
                    <strong>Valor da transação:</strong> R$ {{ transaction.value }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}