{% extends 'base.html' %}

{% block content %}
    <div class="container border border-dark mt-2" style="max-width: 550px">
        <div class="row">
            <div class="col text-center">
                <h2>Lista de contas</h2>
            </div>
        </div>
        <hr>
        <div class="row mb-2">
            <div class="col">
                <a href="{% url 'users:create_account' %}">Criar nova conta</a>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col">
                <a href="{% url 'users:index' %}">Voltar</a>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col text-center">
                <h4>Nome da conta</h4>
            </div>
            <div class="col text-center">
                <h4>Saldo</h4>
            </div>
        </div>
        {% for user_account in user_accounts %}
        <div class="row mb-2">
            <div class="col text-center">
                {{ user_account.name }}
            </div>
            <div class="col text-center">
                {{ user_account.balance }}
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}