{% extends 'base.html' %}

{% block content %}

    {% if not user.is_authenticated %}
        <h2 class="text-warning text-center">Você não está logado!</h2>
    {% else %}
        <h2 class="text-dark text-center">Você está logado como {{ user.username }}.</h2>
        <hr>
    {% endif %}

    {% if total_num_accounts %}
        <div class="col d-flex justify-content-center">
            <p>Você tem atualmente <strong>{{ total_num_accounts }}</strong> contas cadastradas.</p>
        </div>
    {% else %}
        <div class="col d-flex justify-content-center">
            <p>Você tem atualmente <strong>0</strong> contas cadastradas.</p>
        </div>
    {% endif %}

{% endblock %}